<section class="alt-section" id="gallery">
<h3>Gallery</h3>
<div class="thumb-wrap">

  <div class="thumb-container">
    {% for thumbs in site.data.settings.thumbnails%}

    <div class="thumb-unit">

    <img src="{{site.baseurl}}/img/thumbs/{{thumbs.name}}-min.jpg" alt="">
      <a href="{{site.baseurl}}/img/gallery/{{thumbs.name}}.jpg" data-lightbox="gallery" data-title = "{{thumbs.name}}"><div class="thumb-overlay">

        <strong>View in Gallery</strong>

    </div></a>
    </div>
{% endfor %}
  </div>
  <div class="button">
    <button type="button" name="button"><a href="{{site.baseurl}}/gallery.html">View full gallery</a></button>
</div></div>
</section>
