<section class="alt-section">
<h3>Gallery</h3>
<div class="thumb-wrap">

  <div class="thumb-container">
    {% for thumbs in site.data.settings.thumbnails%}

    <div class="thumb-unit">

    <img src="{{site.baseurl}}/img/thumbs/{{thumbs.name}}.jpg" alt="">
      <div class="thumb-overlay">

        <strong>View in Gallery</strong>

    </div>
    </div>
{% endfor %}
  </div>
  <div class="button">
    <button type="button" name="button"><a href="{{site.baseurl}}/gallery.html">View full gallery</a></button>
</div></div>
</section>
