<section class="blog-section">
  <h3>Blogs</h3>
  <div class="blog-belt">

    <div class="blog-unit" style="background-image: url({{site.baseurl}}/img/blog/newyear.jpg);">
      <div class="author-face">
        <img src="{{site.baseurl}}/img/blog/newyear-face.jpg" alt="">
        <strong class="author-name">Authors name</strong>
        <em class="author-description">Description</em>
      </div>
      <div class="blog-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <a href="#">Read full article</a>

        </div>

      </div>

    </div>


  </div>
</section>
