<section class="blog-section">
  <h3>Blogs</h3>
  <div class="blog-controls">

    <div class="blog-control-next">{% include icons/next.html %}</div>
    <div class="blog-control-prev">{% include icons/prev.html %}</div>
  </div>
  <div class="blog-belt">
    {% for post in site.posts %}
    <div class="blog-unit" style="background-image: url({{site.baseurl}}/img/blog/{{post.thumbnail}});">
      <div class="author-face">
        <img src="{{site.baseurl}}/img/blog/{{post.face}}" alt="">
        <strong class="author-name">{{post.author}}</strong>
        <em class="author-description">{{post.description}}</em>
      </div>
      <div class="blog-content">
        <h5>{{post.title}}</h5>
        {{ post.excerpt }}
      </div>
      <a href="{{site.baseurl}}{{post.url}}">Read full article</a>


    </div>
    {% endfor %}

  </div>


</div>
</section>
