<!DOCTYPE html>
<html lang="en">
<head>
  <title>Photography Club</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
<h1>Photography Club</h1>
    <nav>
<ul>
  <li><a href="{{site.baseurl}}/index.html">Home</a></li>
  <li><a href="{{site.baseurl}}/gallery.html">Gallery</a></li>

</ul>
    </nav>
  </header>
  {{content}}
  <footer><nav>
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="gallery.html">Gallery</a></li>

</ul>
  </nav></footer>
</body>
</html>
